*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  background: #000;

}
.left10{
  margin-left:50rem ;
  border: 1px solid white;
  /* justify-content: space-between; */
}
.product{
  /* width: 230px; */
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #000;
  /* flex-direction: column; */
  justify-content: space-between;
  /* height: 350px; */
}
.item{
  margin: 10px 5px;
  width: 230px;
  height: 350px;
  border: 2px solid rgb(129, 125, 125);
  background: #000;
  
}
.name{
  margin: 5px 0px 0px 0px;
  font-weight: 700;
  font-size: 18px;
  /* border: none; */
}
.price{
  font-weight: 500;
  font-size: 15px;
}
.product img{
  width: 100%;
  background-size: cover;
  height: 60%;
  border:1px solid rgb(199, 195, 195) ;
}
.product2{
  width: 80%;
  height: 500px;
  border: 2px solid yellow;
}
.item2{
  margin: 10px 5px;
  width: 230px;
  height: 500px;
  /* border: 2px solid rgb(129, 125, 125); */
}
.product3{
  width: 70%;
  /* height: 500px; */
  /* border: 2px solid yellow; */
}
.item3{
  margin: 10px 5px;
  /* width: 230px; */
  /* height: 500px; */
  /* border: 2px solid rgb(129, 125, 125); */
  background: #000;
  color: white;
}